<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.my.core.dao.DemojMapper">

    <resultMap id="StudentBaseMap" type="com.site.blog.my.core.testentity.Student">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="stuid" jdbcType="BIGINT" property="stuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>

    </resultMap>

    <resultMap id="FreeTimeBaseMap" type="com.site.blog.my.core.testentity.FreeTime">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="stuid" jdbcType="BIGINT" property="stuid"/>
        <result column="startTime" jdbcType="VARCHAR" property="startTime"/>
        <result column="endTime" jdbcType="VARCHAR" property="endTime"/>
    </resultMap>

    <select id="selectStudentByKey" parameterType="java.lang.Integer" resultMap="StudentBaseMap">
        select * from demoj_student limit #{start},#{limit}

    </select>

    <select id="selectStudentBYstuid" parameterType="java.lang.Integer" resultMap="StudentBaseMap">

        <!--select * from demoj_student-->
        <!--<if test="stuid != 0">-->
        <!--where stuid =#{stuid}-->
        <!--</if>-->
        select * from demoj_student where stuid = #{stuid}
    </select>

    <select id="selectFreeTimeBYstuid" parameterType="java.lang.Integer" resultMap="FreeTimeBaseMap">
        select * from demoj_freetime where stuid = #{stuid}
    </select>




</mapper>
